body {
    background-color: ThreeDLightShadow;
}
.button {
    background-color: ButtonShadow;
    border: none;
    color: white;
    width: 30%;
    padding: 20px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px -1px;
    cursor: pointer;
    height: 60px;
}
.nav {
    float: left;
    margin: 10px;
    padding: 10px;
    max-width: 300px;
    height: 300px;
    border: 1px solid black;
}
.header {
    position: absolute;
    top: 2%;
    left: 30%;
    background-color: darkgrey;
    text-align: center;
    font-family: "DejaVu Sans";
    font-size: 3vw;
    font-size: 3vh;
    font-size-adjust: inherit;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 2% ;

}
.subheader{
    position: absolute;
    top: 5%;
    left: 30%;
    background-color: darkgrey;
    text-align: center;
    font-family: "DejaVu Sans";
    font-size: 1.5vw;
    font-size: 1.5vh;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 2% ;
}
table, th, td{
    border: 1px solid black;
    display: inline-block;
}
table{
    position: absolute;
    left:20%;
}
img.skills{
    width: 20vm;
    height: 30vh;
}